<% content_for :page_nav do %>
  <ul>
    <li><%= link_to "Back to details", @author %></li>
    <li><%= link_to "Back to index", authors_path %></li>
  </ul>
<% end %>



<h1>Edit Author</h1>

<%= render "form" %>
