<%= link_to "Authors", authors_path %>
<%= link_to "Books", books_path %>

<hr />

<h1>Listing authors</h1>

<%= render partial: 'authors_table', locals: {authors: @authors} %>

<hr />

<ul>
  <li><%= link_to 'New author', new_author_path %></li>
</ul>
