<% content_for :page_nav do %>
  <ul>
    <li><%= link_to "Back to index", authors_path %></li>
  </ul>
<% end %>


<h1>New Author</h1>

<% if @author.errors.any? %>
  There were some errors!
  <ul>
    <% @author.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= render "form" %>
